<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795089995929-rbgq1a022ilokvc5tumcpf41rh88pfh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795089995929-rbgq1a022ilokvc5tumcpf41rh88pfh6</string>
	<key>API_KEY</key>
	<string>AIzaSyDcxhspwzict057BzGEvvNnbmH2UtabiRA</string>
	<key>GCM_SENDER_ID</key>
	<string>795089995929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tortik</string>
	<key>PROJECT_ID</key>
	<string>gproject-d8582</string>
	<key>STORAGE_BUCKET</key>
	<string>gproject-d8582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795089995929:ios:ee5484acc56c007c439008</string>
</dict>
</plist>